@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto:wght@100&display=swap');
html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
    background-color: #14141E;
    color: #fff;
    background: linear-gradient(68.15deg, #14141E 16.62%, #19192e 85.61%)
}

header{
  position: relative;
  background-color: #1C1B29;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 18px;
}

.cabecalho-menu-item{
  text-decoration: none; 
  color: #fff;
  padding-right: 16px; 
  margin-left: 50px;
}

.conteudo {
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 84px;
  margin-top: 84px;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-size: 48px;
}

.nome {
  color: #4752C4;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  margin-left: -1265px;
  gap: 20px;
}

.icones {
  width: 22px;    
  height: 22px;
}

.conteudo-principal-imagem {
  width: 350px;
  height: 350px;
}

.conteudo-secundario-titulo {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  font-size: 36px;
  color: #4752C4;
}

.conteudo-secundario-paragrafo {
  align-items: center;
}

.conteudo-habilidades-escrito {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-size: 36px;
  color: #4752C4;
}

.conteudo-habilidades-paragrafo {
  display: flex;
  justify-content: center;
}

.conteudo-principal-projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 84px;
}

.conteudo-principal-projetos-escrito {
  color: #4752C4;
  font-size: 36px;
}

.conteudo-principal-projetos-topicos {
  width: 368px;
}
