@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #14141E;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header{
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    z-index: 10;
  }


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(82, 93, 194);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 30px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    font-size: 0.9em;
}

.cabecalho-menu {
    display: flex;
    gap: 2em;
    text-decoration: overline;
}

.cabecalho-menu-item {
    color: white;
}

.conteudo {
    margin-bottom: 48px;
}

.conteudo-principal {
    margin-top: 8em;
}

.conteudo-principal-escrito-titulo-p1{
    font-size: 2em;
    font-weight: 400;
}

.conteudo-principal-escrito-titulo-p2 {
    font-size: 3.5em;
}

.conteudo-principal-escrito-titulo-p3 {
    font-size: 1em;
    font-weight: 400;
}

.conteudo-principal-botao1 {
    color: white;
    background-color: #14141E;
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 2em;
    border-color: rgb(82, 93, 194);
    width: 120px;
    height: 50px;
    border-radius: 1em;
}

.conteudo-principal-botao2 {
    color: white;
    background-color: rgb(82, 93, 194);
    border: none;
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 2em;
    width: 120px;
    height: 50px;
    border-radius: 1em;
}

.conteudo-secundario-desc {
    margin-top: 8em;
    font-size: 0.8em;
    font-weight: 400;
}

.medalha{
    margin-top: 2em;
}

.conteudo-secundario-titulo1 {
    font-size: 1em;
}

.conteudo-secundario-subtitulo1 {
    font-size: 0.8em;
    font-weight: 400;
}

.conteudo-secundario-paragrafo {
    font-size: 0.8em;
    font-weight: 400;
}

.conteudo-habilidades-escrito-titulo {
    margin-top: 5em;
    font-size: 0.8em;
    font-weight: 400;
}

.conteudo-habilidades-escrito-front {
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(82, 93, 194);
} 

.a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conteudo-principal-projetos-escrito {
    margin-top: 4em;
    font-size: 0.8em;
    font-weight: 400;
}

.conteudo-principal-escrito-paragrafo {
    font-size: 1.5em;
    font-weight: 500;
}

.conteudo-principal-projetos-topicos {
    width: 15em;
}

.conteudoo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6em;
    font-size: 0.9em;
}

.conteudo-principal-escrito-tituloo {
    font-size: 3em;
    color:rgb(109, 54, 238);
}

.conteudo-principal-escrito-subtituloo {
    font-size: 3em;
}

.form{
    margin-top: 2.2em;
}

.conteudo-principal-projetos-topicos {
    border-radius: 1em;
    width: 22em;
}

.icon {
    width: 2.5em;
}